@media (min-width: 350px) and (max-width: 500px) {

    body {
        overflow-x: hidden;
    }

    .head-middle {
        position: static;
        border: none;
        flex-direction: column;
        padding: 10px;
    }

    .bigcontainer {
        flex-direction: column;
        gap: 10px;
        padding: 10px;
    }

    .leftcontainer,
    .rightcontainer {
        width: 100%;
        justify-content: space-around;
        font-size: 13px;
        flex-wrap: wrap;
    }

    .leftcontainer div,
    .rightcontainer div {
        display: flex;
        align-items: center;
        gap: 5px;
    }

    .container1 {
        flex-direction: row;
        align-items: center;
    }

    .logo img {
        width: 90px;
        height: auto;
    }

    .get-contact {
        text-align: right;
    }

    .get-contact h2 {
        font-size: 14px;
    }

    .get-contact strong {
        font-size: 16px;
    }

    .search-section {
        width: 100%;
    }

    .search {
        width: 30%;
        height: 40px;
        font-size: 14px;
    }

    .search-box input {
        width: 45%;
        height: 40px;
        font-size: 14px;
    }

    .nav {
        flex-direction: column;
        align-items: center;
        gap: 8px;
    }

    .imgbanner,
    .img-banner {
        height: auto;
    }

    .body-text,
    .middle-text,
    .lower-middle-text-1,
    .lower-middle-text-2 {
        font-size: 20px;
        padding-left: 10px;
        text-align: center;
    }

    .img-container {
        flex-direction: column;
        gap: 20px;
        margin: 0;
    }

    .img-container img {
        height: 75px;
        width: 150px;
    }

    .middle-container {
        grid-template-columns: 100%;
        padding: 0 10px;
    }

    .img-category {
        flex-direction: column;
        height: auto;
        padding: 10px;
        gap: 10px;
    }

    .img-category img {
        width: auto;
        height: 250px;
    }

    .about {
        margin: 10px;
        gap: 10px;
    }

    .about p {
        font-size: 14px;
    }

    .myBtn {
        width: 80%;
        font-size: 14px;
    }

    .lower-banner {
        height: auto;
    }

    .col {
        flex-direction: column;
        gap: 30px;
        padding: 0 15px;
    }

    .col-img img {
        width: 100%;
        height: auto;
    }

    .col-text {
        height: auto;
        font-size: 14px;
    }

    .myBtn1 {
        width: 100%;
        font-size: 14px;
    }

    .footer-container {
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }

    .subscr-form {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    .subscr-form input,
    .subscr-form button {
        width: 100%;
    }

    .footer-list {
        text-align: center;
    }


    .footer-middle {
        flex-direction: column;
        gap: 30px;
        padding: 30px 10px;
    }

    .cont-info {
        flex-direction: column;
        gap: 10px;
    }

    .footer-end {
        font-size: 12px;
    }
}